 .panel, 
 ul.nav.nav-pills{
 	margin: 0;
 	padding: 0;
 	border: none;
 }


 #leftdiv  {
	 width: 40%;
	 float: left;
	 position: center;
 }
 #rightdiv {
	 width: 40%;
	 float: right;
	 position: center;
 }