<div id="content" class="site-content">
    <div id="leftdiv">
        <div id="primary" class="content-area">
            <main id="main" class="main-contact">
                <div class="form-contact">
                    left div
                </div>
            </main>
        </div>
    </div>

    <div id="rightdiv">
        <div id="primary" class="content-area">
            <main id="main" class="main-contact">
                <div class="form-contact">
                    right div
                </div>
            </main>
        </div>
    </div>
</div>

